[Unit]
Description=hello-karyon-rxnetty example service
Requires=Network.target
After=Network.target

[Service]
ExecStart=/usr/bin/java java -jar /opt/hello-karyon-rxnetty/hello-karyon-rxnetty*.jar 2>&1 > /var/log/hello-karyon-rxnetty/hello.log

[Install]
WantedBy=multi-user.target
